language: node_js
node_js:
  - "stable"
cache:
directories:
  - "node_modules"
install:
- npm install
script:
  - gatsby build
deploy:
  provider: surge
  project: ./public/
  domain: timezoner.surge.sh